<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Groceries</string>
		<key>num</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Clothing &amp; Accs</string>
		<key>num</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Plants</string>
		<key>num</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Others</string>
		<key>num</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Leather</string>
		<key>num</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Tile</string>
		<key>num</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
