<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KLM_GN.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KLM_GW.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>KLM_Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E498A77D26671BEC00C78D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E498A79326671BED00C78D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E498A79E26671BED00C78D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C57E2B28055B1F00E7AB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C57F0228055C7C00E7AB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
